<template>
    <base-dialog
    v-if="passed"
    title="Invalid Input"
    @close="confirmError"
    >
        <template #default>
            <p>
                Unfortunately, {{ isEmpty }} field is empty.
            </p>
            <p>
                Please check inputs, and fill them as required.
            </p>
        </template>
        <template #actions>
            <base-button @click="confirmError">
                OK
            </base-button>
        </template>
    </base-dialog>
    <base-card>
        <form @submit.prevent="submitData">
            <div class="form-controll">
                <label for="title">Title</label>
                <input id="title" name="title" type="text" v-model="title"/>
            </div>
            <div class="form-controll">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="3" v-model="desc"></textarea>
            </div>
            <div class="form-controll">
                <label for="link">Link</label>
                <input id="link" name="link" type="url" v-model="link"/>
            </div>
            <div>
                <base-button type="submit">Add Resource</base-button>
            </div>
        </form>
    </base-card>
</template>

<script>
import BaseButton from '../UI/BaseButton.vue';
import BaseDialog from '../UI/BaseDialog.vue';

export default {
    components: {
        BaseDialog,
        BaseButton
    },
    inject: ['addResource'],
    data () {
        return {
            title: "",
            desc: "",
            link: "",
            isEmpty: "",
            passed: false
        }
    },
    methods: {
        submitData() {
            if(this.title.trim() === ""){
                this.isEmpty = "title";
                this.passed = true;
            }
            else if(this.desc.trim() === ""){
                this.isEmpty = "description";
                this.passed = true;
            }
            else if(this.link.trim() === ""){
                this.isEmpty = "link";
                this.passed = true;
            }
            else {
                this.addResource(this.title, this.desc, this.link);
                this.passed = false;
            }
        },
        confirmError() {
            this.passed = false;
        }

    }
}
</script>

<style scoped>
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}
</style>>
