<template>
    <base-card>
        <!-- akcia prepada do base elementu componentu -->
        <base-button @click="setSelectedTab('stored-resources')" :mode="storedResButton">Stored resources</base-button>
        <base-button @click="setSelectedTab('add-resource')" :mode="addResButton">Add Resource</base-button>
    </base-card>
    <keep-alive>
        <component :is="selectedTab"></component>
    </keep-alive>
</template>

<script>
import StoredResources from './StoredResources.vue';
import AddResource from './AddResource.vue'

export default {
    provide () {
        return {
            resources: this.storedResources,
            addResource: this.addResource,
            removeResource: this.removeResource
        }
    },
    components: {
        StoredResources,
        AddResource
    },
    data () {
        return {
            selectedTab: 'stored-resources',
            storedResources: [
                {
                    id: 'official-guide',
                    title: 'Official Guide',
                    description: 'The official Vue.js documentation.',
                    link: 'http://vuejs.org'
                },
                {
                    id: 'google',
                    title: 'Google',
                    description: 'Learn to google...',
                    link: 'http://google.com'
                }
            ]
        }
    },
    methods: {
        setSelectedTab(tab) {
            this.selectedTab = tab;
        },
        addResource(title, description, url) {
            const newResource = {
                id: new Date().toISOString(),
                title: title,
                description: description,
                link: url
            };
            this.storedResources.unshift(newResource);
            this.selectedTab = 'stored-resources';
        },
        removeResource(resId) {
            const resIndex = this.storedResources.findIndex(res => res.id === resId);
            this.storedResources.splice(resIndex, 1);
        }
    },
    computed: {
        storedResButton () {
            return this.selectedTab === 'stored-resources' ? null : 'flat';
        },
        addResButton () {
            return this.selectedTab === 'add-resource' ? null : 'flat';
        }
    }
}
</script>