<template>
    <header-card title="RememberMe">
    </header-card>
    <the-resources>
    </the-resources>
</template>

<script>
import HeaderCard from './components/layouts/HeaderCard.vue';
import TheResources from './components/learning-resources/TheResources.vue';

export default {
    components: {
        HeaderCard,
        TheResources
    },
    methods: {

    }
}

</script>


<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
</style>